/* STYLES FOR THE MAIN PAGE OF THE BLUE MAIL PROJECT */
/* GENERAL CONTAINER */
.page-selection-section{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    position: fixed;
    top: 64px;
    left: 1px;
    height: 30px;
    width: 100%;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.03);
    z-index: 2;
}

/* LEFT CONTAINER */
.left-content {
  display: grid;
  grid-auto-flow: column;
  gap: 20px;
  align-items: center;
  width: 20vw;
}

/* CHECKBOX STYLES */
#js-checkbox-mail{
    display: flex;
    width: 20px;
    height: 20px;
}
.checkbox-mail{
    margin-left: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
}
.checkbox-mail-icon-tooltip{
  position: absolute;
  top: 30px;
  background-color: rgba(0, 0, 0, 0.75);
  color: rgb(255, 255, 255);
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 12px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}
.checkbox-mail:hover .checkbox-mail-icon-tooltip {
  opacity: 1;
}
/* CHECKBOX MAIL CHECKED ICON */
#js-checkbox-checked-mail{
    width: 20px;
    height: 20px;
    display: none;
}


.checkbox-mail-dropdown-icon{
    width: 20px;
    height: 20px;
    margin-left: -20px;
}
.checkbox-mail-dropdown:hover .checkbox-mail-dropdown-icon-tooltip {
  opacity: 1;
}

.checkbox-mail-dropdown-icon{
    width: 20px;
    height: 20px;
}

/* DROPDOWN ARROW STYLES */
.checkbox-mail-dropdown{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.checkbox-mail-dropdown-icon-tooltip{
  position: absolute;
  left: -56px;
  top: 30px;
  background-color: rgba(0, 0, 0, 0.75);
  color: rgb(255, 255, 255);
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 12px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}
.checkbox-mail-dropdown:hover .checkbox-mail-dropdown-icon-tooltip {
  opacity: 1;
}

/* REFRESH STYLES */
.refresh{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
}
.refresh-icon-tooltip{
  position: absolute;
  top: 30px;
  background-color: rgba(0, 0, 0, 0.75);
  color: rgb(255, 255, 255);
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 12px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}
.refresh:hover .refresh-icon-tooltip {
  opacity: 1;
}
.refresh-icon{
    width: 20px;
    height: 20px;
    transition: transform 0.5s ease;
}
.refresh-icon:active{
    transform: rotate(180deg);
}

/* MORE OPTIONS STYLES */
.more-options{
    margin-left: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
}
.more-options-icon-tooltip{
  position: absolute;
  top: 30px;
  background-color: rgba(0, 0, 0, 0.75);
  color: rgb(255, 255, 255);
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 12px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}
.more-options:hover .more-options-icon-tooltip {
  opacity: 1;
}
.more-options-icon{
    width: 20px;
    height: 20px;
}

/* PAGE-SELECTION-SECTION RIGHT SIDE */
.right-content{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-right: 120px;
}
.number-of-mails{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: bold;
  color:rgba(0, 0, 0, 0.6);
}
