body{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;

/* BACKGROUND IMAGE */
  background-image: url(https://images.unsplash.com/photo-1683117927786-f146451082fb?q=80&w=1932&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: auto;
  height: 100vh;
  overflow: hidden;
}

/* BEGINNING OF FORM */
.form{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

/* The submit button for the form */
.loginButton{
  display: flex;
  align-items: center;
  justify-content: center;
  color: #003393;
  background-color: white;
  border-radius: 16px;
  border: none;
  width: 28vw;
  padding: 1.5vh 0;
  transition: background-color 0.2s ease, color 0.2s ease;
  cursor: pointer;
  text-align: center;
  font-size: 0.8rem;
  letter-spacing: 2px;
}
.loginButton:hover{
  background-color: rgba(255, 255, 255, 0.2);
  color: white;
}
/* LOGIN BUTTON REMOVE TEXT DECORATION */

.loginButtonAnchor{
  text-decoration: none;
  color: black;
}

.formBox{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  backdrop-filter: blur(20px);
  min-height: 60vh;
  width: 28vw;
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.2);
  padding: 4.5vh 4.5vh;
  border-radius: 30px;
  background-color: rgba(0, 0, 0, 0.25);
  border: solid 0.1px;
  border-color :rgba(255, 255, 255, 0.5);
} 
.head{
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-size: 17px;
  letter-spacing: 2px;
  text-wrap: nowrap;
  text-overflow: hidden;
} 
/* FORM ITEMS SECTION */
#username,
#password{
  background: none;
  color: white;
  border-radius: 40px;
  border-color: white;
  border-width: 1px;
  border-style: solid;
  padding: 10px 40px 10px 12px;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid rgba(245, 245, 245, 0.5);
} 
/* CODE TO CHANGE BETWEEN FOCUS DECORATIONS */
#username:focus,
#password:focus{
outline: none;
border: 1px solid rgba(245, 245, 245, 1);
}
/* SECOND TEXT IS FOR REMEMBER ME AND FORGOT PASSWORD */
.checkbox{
  height: 13px;
  width: 13px;
}
.secondText{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px 0px 0px 2px;
  width: 100%;
}
.secondText div{
  color: white;
  font-size: 10px;
  margin: 5px;
}
.remember{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 5px 5px 5px 0px;;
  padding-left: 0px;
}
.login,
.password {
  margin-top: 10px;
  width: 100%;
  position: relative;
}

.login-input-class:focus + .login-label{
  top: -20px;
  opacity: 0.9;
  font-size: 0.8rem;
  z-index: 5;
}

.password-input-class:focus + .password-label{
  top: -20px;
  opacity: 0.9;
  font-size: 0.8rem;
  z-index: 5;
}

.login-input-class:valid + .login-label{
  top: -20px;
  opacity: 0.9;
  font-size: 0.8rem;
  z-index: 5;
}

.password-input-class:valid + .password-label{
  top: -20px;
  opacity: 0.9;
  font-size: 0.8rem;
  z-index: 5;
}

.login-label,
.password-label{
  position: absolute;
  color: white;
  top: 11px;
  left: 25px;
  opacity: 0.5;
  transition: all 0.4s ease;
  font-size: 0.8rem;
}

.loginIcon,
.passwordIcon {
  position: absolute;
  top: 50%;
  right: 14px;
  transform: translateY(-50%);
  height: 18px;
  width: 18px;
  opacity: 0.6;
  transition: opacity 0.25s ease;
}

/* .loginIcon:hover {
  opacity: 1;
}, */


.passwordIcon:hover {
  opacity: 1;
}
/* changing the display type from text to password and vice verse */
.passwordIcon.active {
  opacity: 0.2;
} 


/* RESPONSIVE PROGRAM */
@media (max-width: 430px) {
  .formBox{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  backdrop-filter: blur(20px);
  min-height: 35vh;
  width: 75vw;
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.2);
  padding: 4.5vh 4.5vh;
  border-radius: 30px;
  background-color: rgba(0, 0, 0, 0.3);
  border: solid 0.1px;
  border-color :rgba(255, 255, 255, 0.5);
}
.loginButton{
  display: flex;
  align-items: center;
  justify-content: center;
  color: #003393;
  background-color: white;
  border-radius: 16px;
  border: none;
  width: 74vw;
  padding: 1.2vh 0;
  transition: background-color 0.2s ease, color 0.2s ease;
  cursor: pointer;
  text-align: center;
  font-size: 0.8rem;
  letter-spacing: 2px;
}
}

@media (min-width: 430px) and (max-width: 1000px){
  .loginButton{
  display: flex;
  align-items: center;
  justify-content: center;
  color: #003393;
  background-color: white;
  border-radius: 16px;
  border: none;
  width: 40vw;
  min-width: 320px;
  padding: 1.5vh 0;
  transition: background-color 0.2s ease, color 0.2s ease;
  cursor: pointer;
  text-align: center;
  font-size: 0.8rem;
  letter-spacing: 2px;
}
.formBox{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  backdrop-filter: blur(20px);
  min-height: 40vh;
  width: 40vw;
  min-width: 320px;
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.2);
  padding: 4.5vh 4.5vh;
  border-radius: 30px;
  background-color: rgba(0, 0, 0, 0.25);
  border: solid 0.1px;
  border-color :rgba(255, 255, 255, 0.5);
} 

}

