.left-content-mail-top {
  display: flex;
  flex-direction: row;
  gap: 25px;
  align-items: center;
  margin-left: 95px;
  flex-shrink: 0;
}
.back-button-tooltip{
  position: absolute;
  top: 40px;
  background-color: rgba(0, 0, 0, 0.75);
  color: rgb(255, 255, 255);
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 12px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}
.back-button-container:hover .back-button-tooltip{
  opacity: 1;
}

.refresh{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
}
.refresh-icon-tooltip{
  position: absolute;
  top: 30px;
  background-color: rgba(0, 0, 0, 0.75);
  color: rgb(255, 255, 255);
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 12px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}
.refresh:hover .refresh-icon-tooltip {
  opacity: 1;
}
.refresh-icon-opened-mail{
    width: 20px;
    height: 20px;
    transition: transform 0.5s ease;
    opacity: 0.35;
}
.refresh-icon-opened-mail:hover {
  opacity: 1;
}
.refresh-icon-opened-mail:active{
    transform: rotate(180deg);
}
.star-icon-tooltip{
  position: absolute;
  top: 40px;
  background-color: rgba(0, 0, 0, 0.75);
  color: rgb(255, 255, 255);
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 12px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}
.star-icon-container:hover .star-icon-tooltip{
  opacity: 1;
}
.star-icon-container:hover .unstar-icon-tooltip{
  opacity: 1;
}
.back-button-container{
  display: flex;
  align-items: center;
  justify-content: center;
}

.mail-container-back-button-icon{
  height: 17px;
  width: 17px;
  opacity: 0.15;
}
.mail-container-back-button-icon:hover {
  opacity: 0.47;
}

.star-icon-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.mail-delete-img{
  opacity: 1;
  width: 20px;
  height: 20px;
  margin-right: 5px;
  border-radius: 100%;
  transition: transform 0.3s ease, opacity 0.3s ease;
}
.mail-delete-img:hover{
  transform: scale(1.1);
}

.mail-delete-img:hover + .mail-container-delete-tooltip{
  opacity: 1;
}
.mail-container-star-img:hover{
  opacity: 1;
}
.mail-body-container{
  text-align: justify;
  line-height: 35px;
}
.myself{
  display: flex;
  flex-direction: column;
  line-height: 35px;
  justify-content: center;
  align-items: center;
  text-align: justify;
}
strong{
  margin-top: 20px;
}

.mail-subject-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
  justify-content: center;
}
.email-and-time-div{
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

/* STYLES FOR VIDEO */
.Video-container{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left:20px;
  padding-right: 20px;
  width: 100%;
}
.video-wrapper{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 40px;
}
.video{
  border-radius: 15px;
  transition: filter 0.2s ease-in;
  max-width: 50rem;
}

/* MEDIA QUERY FOR RESONSIVE SITE */
@media (max-width: 430px) {
  .left-bar{
    display: none;
  }
  .top-bar{
    width: 100vw;
  }
  .apps-icon{
    display: none;
  }
  .help-icon{
    display: none;
  }
  .settings-icon{
    display: none;
  }
  .right-bar.open {
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: whitesmoke;
    position: fixed;
    top: 65px;
    right: 0px;
    height: 60vh;
    width: 15vw;
    border-radius: 0px 0 0 30px;
    z-index: 3;
    box-shadow: -5px 0 10px rgba(245, 245, 245, 0.15);
    backdrop-filter: blur(5px);
    transform: translateX(0);
    transition: transform 0.3s ease-in;
  }
  body{
  display: grid;
  grid-template-rows: auto;
  font-family: Arial, Helvetica, sans-serif;
  color: rgba(37, 37, 37, 0.9);
  height: 100vh;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 105px;
}
.mail-body-container{
  font-size: 1rem;
  line-height: 25px;
  margin: 0.5rem;
}
.myself{
  font-size: 1rem;
  line-height: 25px;
  margin: 0 0.5rem;
}
h5{
  margin: 1.5rem 0.5rem;
}
.mail-subject-container{
  height: 7vh;
}
}