/* STYLES FOR THE MAIN PAGE OF THE BLUE MAIL PROJECT */
/* GENERAL CONTAINER */
.page-selection-section{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    position: fixed;
    top: 64px;
    left: 1px;
    height: 30px;
    width: 100%;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.03);
    z-index: 2;
    background: rgb(255, 255, 255);
}

/* LEFT CONTAINER */
.left-content {
  display: flex;
  flex-direction: row;
  gap: 15px;
  align-items: center;
  width: 20vw;
  flex-shrink: 0;
}

/* CHECKBOX STYLES */
#js-checkbox-mail{
    display: flex;
    width: 20px;
    height: 20px;
}
.checkbox-mail{
    margin-left: 70px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
}
.checkbox-mail-icon-tooltip{
  position: absolute;
  top: 30px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.75);
  color: rgb(255, 255, 255);
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 12px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
  text-wrap: nowrap;
}
.checkbox-mail:hover .checkbox-mail-icon-tooltip {
  opacity: 1;
}
/* CHECKBOX MAIL CHECKED ICON */
#js-checkbox-checked-mail{
    width: 20px;
    height: 20px;
    display: none;
}


.checkbox-mail-dropdown-icon{
    width: 20px;
    height: 20px;
    margin-left: -20px;
}
.checkbox-mail-dropdown-icon:hover .checkbox-mail-dropdown-icon-tooltip {
  opacity: 1;
}

.checkbox-mail-dropdown-icon{
    width: 20px;
    height: 20px;
}

/* DROPDOWN ARROW STYLES */
.checkbox-mail-dropdown{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.checkbox-mail-dropdown-icon-tooltip{
  position: absolute;
  left: -40px;
  top: 30px;
  background-color: rgba(0, 0, 0, 0.75);
  color: rgb(255, 255, 255);
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 12px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}
.checkbox-mail-dropdown:hover .checkbox-mail-dropdown-icon-tooltip {
  opacity: 1;
}

/* REFRESH STYLES */
.refresh{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
}
.refresh-icon-tooltip{
  position: absolute;
  top: 30px;
  background-color: rgba(0, 0, 0, 0.75);
  color: rgb(255, 255, 255);
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 12px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}
.refresh:hover .refresh-icon-tooltip {
  opacity: 1;
}
.refresh-icon{
    width: 20px;
    height: 20px;
    transition: transform 0.5s ease;
}
.refresh-icon:active{
    transform: rotate(180deg);
}

/* MORE OPTIONS STYLES */
.more-options{
    margin-left: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
}
.more-options-icon-tooltip{
  position: absolute;
  top: 30px;
  background-color: rgba(0, 0, 0, 0.75);
  color: rgb(255, 255, 255);
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 12px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
  text-wrap: nowrap;
}
.more-options:hover .more-options-icon-tooltip {
  opacity: 1;
}
.more-options-icon{
    width: 20px;
    height: 20px;
}

/* PAGE-SELECTION-SECTION RIGHT SIDE */
.right-content{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-right: 75px;
}
.number-of-mails{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: bold;
  color:rgba(0, 0, 0, 0.6);
  width: 20vw;
}

/* MAIL CONTENT SECTION */
.mail-html{
  display: grid;
  grid-template-rows: 30px 1fr;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}
.mail-list{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 40px;
}


/* STYLES FOR THE MAIL CONTENT */
.mail-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 90vw;
  min-width: 40px;
  height: 35px;
  margin: 2.5px 0px;
  border:rgba(0, 0, 0, 0.03) 1px solid;
  transition: box-shadow 0.2s ease;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
  cursor: pointer;
}

.mail-container:hover{
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}
.mail-container:active{
  background-color: #abd4ff;
}

/* STYLES FOR MAIL-CONTAINER-LEFT */
.mail-container-left{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  gap: 10px;
  margin-left: 16px;
  margin-right: 10px;
  width: 160px;
  flex-shrink: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.mail-container-checkbox-img{
  display: flex;
  height: 20px;
  width: 20px;
  opacity: 0.25;
  transition: opacity 0.3s ease;
}

.mail-container-checked-checkbox-img-rendered{
  display: none;
  height: 20px;
  width: 20px;
  opacity: 1;
  transition: opacity 0.3s ease;
}


.mail-container:hover .mail-container-checkbox-img{
  opacity: 1;
}

.mail-container:hover .mail-container-star-img{
  opacity: 1;
}
.mail-container-star-img{
  height: 20px;
  width: 20px;
  opacity: 0.25;
  transition: opacity 0.3s ease;
}

.mail-container-sender{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 13.5px;
  text-wrap: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* STYLES FOR THE MIDDLE SECTION */
.mail-container-middle{
  display: flex;
  flex-direction: row;
  min-width: 20px;
  align-content: center;
  justify-content: flex-start;
  margin: 0px 10px;
  width: 100%;
}

.mail-container-header{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.mail-container-body{
  flex: 1;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #7F7F7F;
  margin-left: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  min-width: 100px;
}

/* STYLES FOR THE RIGHT SIDE OF THE MAIL CONTAINER */
.mail-container-right{
  display: flex;
  position: relative;
  flex-shrink: 0;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  margin-right: 20px;
  margin-left: 5px;
  width: 100px;
  white-space: nowrap;
}

.mail-container-delete-div{
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  justify-content: space-between;
  width: 100px;
}

.mail-container-time{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: bold;
  flex-shrink: 0;
}
.mail-container:hover .mail-container-delete-img{
  opacity: 1;
}
.mail-container-delete-img{
  opacity: 0;
  width: 20px;
  height: 20px;
  margin-right: 5px;
  border-radius: 100%;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.mail-container-delete-img:hover{
  transform: scale(1.1);
}

.mail-container-delete-tooltip{
  position: absolute;
  top: 30px;
  right: 67px;
  background-color: rgba(0, 0, 0, 0.75);
  color: rgb(255, 255, 255);
  padding: 2.5px 5px;
  border-radius: 5px;
  font-size: 12px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

.mail-container-delete-img:hover + .mail-container-delete-tooltip{
  opacity: 1;
}

.mail-container-checkbox-img:hover + 
.mail-container-checkbox-rendered-icon-tooltip {
  opacity: 1;
}

.mail-container-checkbox-rendered-icon-tooltip{
  display: flex;
  position: absolute;
  left: 100px;
  background-color: rgba(0, 0, 0, 0.75);
  color: rgb(255, 255, 255);
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 12px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
  text-wrap: nowrap;
  z-index: 5;
}

.mail-container-star-img-starred{
  height: 20px;
  width: 20px;
  opacity: 1;
  transition: opacity 0.3s ease;
}


